<div id="firebaseui-auth-container" class="auth__container">
  <!-- This is where the Login ui will load -->
</div>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#config-web-app -->
<script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-auth.js"></script>
<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: 'AIzaSyAq5tKHTmBwdvU7Rrum1AOQRFQrN5OTML8',
    authDomain: 'filmoteka3-a2242.firebaseapp.com',
    projectId: 'filmoteka3-a2242',
    storageBucket: 'filmoteka3-a2242.appspot.com',
    messagingSenderId: '33261951036',
    appId: '1:33261951036:web:ef5d119ecab71491d00b39',
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>

<!-- Firebase UI -->
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link
  type="text/css"
  rel="stylesheet"
  href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"
/>
<script type="module" src="/src/js/auth.js"></script>
