<header class="header js-header">
  <div class="container">
    <div class="navigation-wrapper">
      <a class="header__link" href="./index.html">
        <svg class="header__logo" width="24" height="24">
          <use href="./images/svg/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="header__title">Filmoteka</span>
      </a>
      <!-- NAVBAR -->
      <nav class="nav">
        <ul id="nav-mobile" class="right nav__list">
          <li class="nav__item logged-in visually-hidden" style="display: none">
            <button
              class="nav__btn modal-trigger nav__btn--none"
              data-target="modal-account"
              type="button"
            >
              Account
            </button>
          </li>
          <li class="nav__item logged-in" style="display: none">
            <button class="nav__btn" id="logout" type="button">Logout</button>
          </li>
          <li class="nav__item active">
            <button class="nav__btn active js-nav-btn js-home-btn" type="button">HOME</button>
          </li>
          <li class="nav__item logged-in" style="display: none">
            <button class="nav__btn js-nav-btn js-library-btn" type="button">MY LIBRARY</button>
          </li>
          <li class="nav__item logged-out" style="display: none">
            <button class="nav__btn modal-trigger" data-target="modal-login" type="button">
              Login
            </button>
          </li>
          <li class="nav__item logged-out" style="display: none">
            <button class="nav__btn modal-trigger" data-target="modal-signup" type="button">
              Sign up
            </button>
          </li>
        </ul>
      </nav>

      <!-- GUIDE LIST -->
    </div>
    <form class="search__form js-search-form" autocomplete="off">
      <input
        class="search__input js-search-input"
        type="text"
        name="searchQuery"
        placeholder="Movie search"
      />
      <button class="search__btn js-search-btn" type="submit">
        <svg class="search__icon" width="12" height="12">
          <use href="./images/svg/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
      <p class="search__warn js-search-warn visually-hidden">
        Search result not successful. Enter the correct movie name
      </p>
    </form>
    <div class="lib-btns js-library-btns visually-hidden">
      <ul class="lib-btns__list">
        <li class="lib-btns__item">
          <button class="lib-btns__btn js-watched-btn active" type="button">WATCHED</button>
        </li>
        <li class="lib-btns__item">
          <button class="lib-btns__btn js-queue-btn active" type="button">QUEUE</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="theme-switch">
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Переключить между тёмной и светлой темой"
        />
        <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
          <svg class="theme-switch__icon" aria-label="Иконка солнца">
            <use href="#"></use>
          </svg>
          <svg class="theme-switch__icon-moon" aria-label="Иконка луны">
            <use href="#"></use>
          </svg>
        </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>
    </div>
  </div>
</header>
