<section class="library">
  <div class="container">
    <ul class="library__list card-set">
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />

          <h3 class="movie__name">Pirates of the Caribbean</h3>
          <div class="movie__tag">
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
            <span class="movie__rate">10</span>
          </div>
        </a>
      </li>
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />
          <div class="movie__tag">
            <h3 class="movie__name">Pirates of the Caribbean</h3>
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
          </div>
        </a>
      </li>
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />
          <div class="movie__tag">
            <h3 class="movie__name">Pirates of the Caribbean</h3>
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
          </div>
        </a>
      </li>
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />
          <div class="movie__tag">
            <h3 class="movie__name">Pirates of the Caribbean</h3>
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
          </div>
        </a>
      </li>
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />
          <div class="movie__tag">
            <h3 class="movie__name">Pirates of the Caribbean</h3>
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
          </div>
        </a>
      </li>
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />
          <div class="movie__tag">
            <h3 class="movie__name">Pirates of the Caribbean</h3>
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
          </div>
        </a>
      </li>
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />
          <div class="movie__tag">
            <h3 class="movie__name">Pirates of the Caribbean</h3>
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
          </div>
        </a>
      </li>
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />
          <div class="movie__tag">
            <h3 class="movie__name">Pirates of the Caribbean</h3>
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
          </div>
        </a>
      </li>
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />
          <div class="movie__tag">
            <h3 class="movie__name">Pirates of the Caribbean</h3>
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
          </div>
        </a>
      </li>
      <li class="library__item movie card-item">
        <a href="" class="movie__link">
          <img
            class="movie__img"
            src="./img/1491654300poster-k-filmu-pirat-karibskogo-morya-mest-salazara.jpg"
            alt="Pirates of the
    Caribbean"
          />
          <div class="movie__tag">
            <h3 class="movie__name">Pirates of the Caribbean</h3>
            <p class="movie__category">Комедия, боевик, приключения | 2017</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>

<!--  "
      srcset=""
      sizes="(min-width: 1280px) 395px, (min-width: 768px) 336px, (max-width: 320px) 280px"
      src=""
      alt="Pirates of the Caribbean" -->
