body {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 12px;
  background-color: var(--bg-color-white);
  color: var(--text-color-black);
  line-height: 1.33;
  @include mq(desk) {
    font-size: 20px;
    line-height: 1.2;
  }
}
