@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.ttf');
  font-style: normal;
}
