@import '/node_modules/materialize-css/sass/materialize.scss';
@import './base/fonts';
@import './utils/mixin';
@import './utils/placeholder';
@import './utils/reset';
@import './utils/variables';
@import './components/back-to-top';
@import './components/theme';

@import './base/card-set';
@import './base/common';
@import './base/container';
@import './base/hidden';

@import './components/modal';
@import './components/slider';

@import './components/movie';
@import './components/_trailer';
@import './layout/films-list';
@import './layout/footer';
@import './layout/header';
@import './layout/pagination';
@import './components/_footer-modal.scss';
@import './components/modal-film';
