ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}