:root {
  --accent-color-text: #ff6b08;
  --underline-color-active: #ff001b;
  --grey-bg-color: #f7f7f7;
  --footer-text-color: #545454;
  --modal-key-color: #8c8c8c;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
  --bg-color-white: #ffffff;
  --main-bg-color: #e5e5e5;
  --main-secion-color: #ffffff;
  --bg-color-white: #ffffff;
  --btn-bg-color: #ff6b01;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-movie: 350ms cubic-bezier(0.4, 0, 0.2, 1);
  --color-gradient-headers: rgba(0, 0, 0, 0.56);
}
