:root {
  --accent-color-text: #ff6b08;
  --underline-color-active: #ff001b;
  --grey-bg-color: #f7f7f7;
  --footer-text-color: : #545454;
  --modal-key-color: #8C8C8C;
  --text-color-black: #000000;
}
