<li class='library__item movie'>
  <a href='' class='movie__link'>
    <img
      class='movie__img'
      srcset=' {{!-- ЕСЛИ ДОСТУПНЫ В ДАННОМ ВАРИАНТЕ ИЗ СЕРВЕРА / УТОЧНИТЬ --}}
                     {{!--  ./images/card-technockrayk354.jpg 354w,
                      ./images/card-technockrayk370.jpg 370w,
                      ./images/card-technockrayk450.jpg 450w,
                      ./images/card-technockrayk708.jpg 708w,
                      ./images/card-technockrayk740.jpg 740w,
                      ./images/card-technockrayk900.jpg 900w
                    ' --}}
      sizes='(min-width: 1280px) 395px, (min-width: 768px) 336px, (max-width: 320px) 280px'
      src='{{!-- ИЗ СЕРВЕРА --}}'
      alt='{{!-- ИЗ СЕРВЕРА --}}'
    />
    <div class='movie__tag'>
      <h3 class='movie__name'>{{! Название фильма }}</h3>
      <p class='movie__category'>{{! Жанры фильма / год }}</p>
    </div>
  </a>
</li>