@import '../utils/variables';
.modalA {
  background-color: var(--bg-color-white);
  padding: 48px 20px 40px 20px;
  position: relative;
  max-width: 480px;
  @include mq(tab) {
    max-width: 705px;
    padding: 40px 72px 40px 36px;
  }
  @include mq(desk) {
    max-width: 806px;
    height: 560px;

    padding: 40px 12px;
  }
}
.modal {
  &__btn {
    display: flex;
    justify-content: center;
    line-height: 1.33;
    @include mq(tab) {
      justify-content: flex-start;
    }
    @include mq(desk) {
      font-size: 12px;
    }
    &--close {
      position: absolute;
      top: 8px;
      right: 9px;

      width: 40px;
      height: 40px;

      background-color: transparent;
      background-image: url(../images/close-icon.svg);
      background-position: center;
      border: none;
    }
    &--watched,
    &--queue {
      width: 110px;
      height: 44px;
      border-radius: 5px;
      border: none;

      text-transform: uppercase;
      line-height: 1.33;
      padding: 3px 10px;
      @include mq(tab) {
        width: 125px;
      }
      @include mq(desk) {
        width: 136px;
      }
    }
    &--watched,
    &--watched:active {
      background-color: var(--btn-bg-color);
      color: var(--bg-color-white);
      margin-right: 15px;
      transition: all var(--transition);
    }
    &--watched.active,
    &--watched:hover,
    &--watched:focus {
      background-color: var(--bg-color-white);
      border: 1px solid var(--text-color-black);
      color: var(--text-color-black);
    }

    &--queue,
    &--queue:active {
      background-color: var(--bg-color-white);
      border: 1px solid var(--text-color-black);
      transition: all var(--transition);
    }
    &--queue.active,
    &--queue:hover,
    &--queue:focus {
      background-color: var(--btn-bg-color);
      color: var(--bg-color-white);
      border: none;
    }
  }

  &__icon {
    &--close {
    }
  }

  &__wrap {
    @include mq(tab) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 20px;
    @include mq(tab) {
      width: 264px;
      margin-right: 68px;
    }
    @include mq(desk) {
      min-width: 375px;
      margin-right: 16px;
      max-height: 480px;
      object-fit: contain;
    }
  }

  &__info {
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;

    margin-bottom: 20px;
    @include mq(desk) {
      font-size: 35px;
    }
  }

  &__list {
    margin-bottom: 20px;

    font-weight: 500;
    line-height: 1.33;
    @include mq(desk) {
      font-size: 12px;
    }
  }

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &--key {
      min-width: 110px;
      color: var(--modal-key-color);
      @include mq(desk) {
        max-width: 130px;
      }
    }

    &--desc {
      text-transform: uppercase;
    }

    &--vote {
      color: var(--bg-color-white);
      background-color: var(--accent-color-text);

      padding: 1px 10px;
      border-radius: 5px;
    }

    &--span {
      color: var(--modal-key-color);
    }
    &--num {
      background-color: #f7f7f7;

      padding: 1px 4px;
      border-radius: 5px;
    }
  }

  &__sub {
    line-height: 1.33;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500px;

    margin-bottom: 8px;
  }

  &__text {
    line-height: 1.67;

    margin-bottom: 40px;
    @include mq(desk) {
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
}
.modal__wrapper {
  display: flex;
  justify-content: center;
}
body.dark-theme {
  & .modalA {
    background-color: black;
    box-shadow: 0px 0px 80px red;
  }
  & .modal__item--num {
    color: black;
  }
  & .modal__btn--close {
    background-color: white;
    border-radius: 50%;
  }
}
