.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow: auto;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition);

  z-index: 90;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.no-scroll {
  overflow: hidden;
}
