.header {
  padding: 40px 0 92px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to top,
      var(--color-gradient-headers),
      var(--color-gradient-headers)
    ),
    url('../images/home/mobile/header-bg-mobile.jpg');
  &.js-library {
    background-image: linear-gradient(
        to top,
        var(--color-gradient-headers),
        var(--color-gradient-headers)
      ),
      url('../images/library/mobile/header-bg-mobile.jpg');
  }

  @include mq(retina) {
    background-image: linear-gradient(
        to top,
        var(--color-gradient-headers),
        var(--color-gradient-headers)
      ),
      url('../images/home/mobile/header-bg-mobile@2x.jpg');
    &.js-library {
      background-image: linear-gradient(
          to top,
          var(--color-gradient-headers),
          var(--color-gradient-headers)
        ),
        url('../images/library/mobile/header-bg-mobile@2x.jpg');
    }
  }
  background-repeat: no-repeat;
  background-size: cover;

  @include mq(tab) {
    padding-bottom: 80px;
    background-image: linear-gradient(
        to top,
        var(--color-gradient-headers),
        var(--color-gradient-headers)
      ),
      url('../images/home/tablet/header-bg-tablet.jpg');
    &.js-library {
      background-image: linear-gradient(
          to top,
          var(--color-gradient-headers),
          var(--color-gradient-headers)
        ),
        url('../images/library/tablet/header-bg-tablet.jpg');
    }

    @include mq(retina) {
      background-image: linear-gradient(
          to top,
          var(--color-gradient-headers),
          var(--color-gradient-headers)
        ),
        url('../images/home/tablet/header-bg-tablet@2x.jpg');
      &.js-library {
        background-image: linear-gradient(
            to top,
            var(--color-gradient-headers),
            var(--color-gradient-headers)
          ),
          url('../images/library/tablet/header-bg-tablet@2x.jpg');
      }
    }
  }

  @include mq(desk) {
    background-image: linear-gradient(
        to top,
        var(--color-gradient-headers),
        var(--color-gradient-headers)
      ),
      url('../images/home/desktop/header-bg-desktop.jpg');
    &.js-library {
      background-image: linear-gradient(
          to top,
          var(--color-gradient-headers),
          var(--color-gradient-headers)
        ),
        url('../images/library/desktop/header-bg-desktop.jpg');
    }

    @include mq(retina) {
      background-image: linear-gradient(
          to top,
          var(--color-gradient-headers),
          var(--color-gradient-headers)
        ),
        url('../images/home/desktop/header-bg-desktop@2x.jpg');
      &.js-library {
        background-image: linear-gradient(
            to top,
            var(--color-gradient-headers),
            var(--color-gradient-headers)
          ),
          url('../images/library/desktop/header-bg-desktop@2x.jpg');
      }
    }
  }
}
.navigation-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 54px;

  @include mq(tab) {
    margin-bottom: 40px;
  }

  @include mq(desk) {
    margin-bottom: 41px;
  }
}
.header__link {
  display: flex;
  align-items: center;
}
.header__logo {
  stroke: var(--bg-color-white);
  fill: transparent;
}
.header__title {
  display: none;
  color: var(--bg-color-white);
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  margin-left: 8px;

  @include mq(tab) {
    display: inline-block;
    margin-left: 10px;
  }
}
.nav {
  margin-left: auto;
  background-color: transparent;
}

.nav__list {
  display: flex;
  align-items: baseline;
}

.nav__item {
  display: flex;
  flex-direction: column;
}

.nav__item:not(:last-child) {
  margin-right: 20px;

  @include mq(mob) {
    margin-right: 35px;
  }

  @include mq(tab) {
    margin-right: 40px;
  }
}
.nav__item .nav__btn.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--underline-color-active);
}
.nav__btn {
  padding: 0;
  text-transform: uppercase;
  color: var(--bg-color-white);
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-weight: 500;
  .nav__item:hover &,
  .nav__item:focus & {
    color: var(--accent-color-text);
    text-shadow: var(--accent-color-text) 1px 0 10px;
  }
}

// search form
.search__form {
  position: relative;
  margin: 0 auto;

  @include mq(mob-only) {
    max-width: 290px;
  }

  @include mq(tab) {
    width: 336px;
  }

  @include mq(desk) {
    width: 394px;
  }
}
.search__input {
  display: block;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--bg-color-white);
  transition: border var(--transition);
  background-color: transparent;
  color: var(--bg-color-white);
}
.search__input:focus {
  border-bottom: 1px solid var(--bg-color-white);
}
.search__input::placeholder {
  color: var(--bg-color-white);
}
.search__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transform: scale(1);
  transition: transform var(--transition);
}
.search__btn.is-hidden {
  transform: scale(0);
}
.search__warn {
  position: absolute;
  bottom: -50px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: var(--underline-color-active);
  transform: scalex(1);
  transform-origin: center;
  transition: transform var(--transition);

  @include mq(tab) {
    bottom: -35px;
    left: -15px;
    min-width: 380px;
  }
  @include mq(desk) {
    left: 10px;
  }
}
// .search__warn.is-hidden {
//   transform: scalex(0);
// }

// buttons of page My library
.lib-btns__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.lib-btns__btn {
  transition: background-color var(--transition);
  display: inline-block;
  min-width: 130px;
  padding-top: 14px;
  padding-bottom: 12px;
  border: 1px solid var(--bg-color-white);
  border-radius: 5px;
  text-transform: uppercase;
  background-color: var(--color-gradient-headers);
  color: var(--bg-color-white);
  font-size: 12px;
  font-weight: 500;
}

.lib-btns__btn.active {
  background-color: var(--accent-color-text);
  border: 1px solid var(--accent-color-text);
}

.lib-btns__btn:hover,
.lib-btns__btn:focus {
  background-color: var(--accent-color-text);
  border: 1px solid var(--accent-color-text);
}

.lib-btns__item:not(:last-child) {
  margin-right: 15px;
}

/* .modal {
  
  
  max-width: 400px;
} */
.modal {
  max-width: 400px;
  max-height: 350px;
  overflow: hidden;
}
body.dark-theme {
  & .modal {
    background-color: black;
    box-shadow: 0px 0px 80px red;
  }
  & #signup-bio {
    color: white;
  }
  & #login-email {
    color: white;
  }
  & #login-password {
    color: white;
  }
  & .header {
    box-shadow: 10px 10px 45px red;
  }
  & #login-form.btn {
    background-color: var(--accent-color-text);
  }
  & #signup-email {
    color: white;
  }

  & #signup-password {
    color: white;
  }
  & .library__title {
    color: white;
  }
}
