.tui-pagination {
  padding-top: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.page-btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  padding: 13px;
}

.is-selected {
  background: #ff6b08;
}

.move-btn-next {
  background-color: #f7f7f7;
  background-image: url(../images/pagination/arrow-right.svg);

  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.move-btn-prev {
  background-color: #f7f7f7;
  background-image: url(../images/pagination/arrow-left.svg);

  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.move-btn {
  margin: 5px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.move-btn-first {
  background-color: #ffffff;
  background-image: url(../images/pagination/arrl.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.move-btn-last {
  background-color: #ffffff;
  background-image: url(../images/pagination/arrr.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
}

.is-hidden {
  display: none;
}

body.dark-theme {
  & .move-btn {
    background-color: rgb(150, 137, 137);
  }
  & .move-btn {
    fill: white;
  }
}
